body {
    padding-top: 70px;
}

iframe {
    border-width: 0px;
    max-width: 100%;
}

#second-half-brand {
    color: #0099CC;
}

.video-overlay {
    padding-top: 70px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 100;
    background-color: rgba(0,0,0,0.85);
    color: #fff;
    display: none;
}

.video-new {
    background-color: red;
    color: #FFF;
    border-radius: 0.3em;
}