<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta content="width=device-width, initial-scale=1.0" />
		<title>Welcome to Trick.Feed</title>

		<script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/bootstrap.min.css" />
	</head>
	<body>
		<div class="container">
			<p>
				BOOYAH KASHA
			</p>
		</div>
	</body>
</html>