{% extends "base.html" %}
{% block content %}
<div class="row">
    {% if results %}
    <p>Your search for "{{ query }}" returned {{ results.count }} result{{ results.count|pluralize }}.</p>
    <table class="table table-striped">
        {% for r in results %}
        <tr>
            <td>
                <a href="{{ r.get_absolute_url }}">
                    <img src="{{ r.thumbnail }}" alt="{{ r.title }}" title="{{ r.title }}" class="img-responsive" />
                </a>
            </td>
            <td>
                <h3>{{ r.title }}{% if r.is_this_new %}&nbsp;<small><span class="video-new">NEW</span></small>{% endif %}</h3>
                {{ r.description }}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    {% if query %}
    <p>Your search for {{ query }} didn't return any results.</p>
    {% else %}
    <p>Type in something to search for up above!</p>
    {% endif %}
    {% endif %}
</div>
{% endblock %}