{% extends "base.html" %}
{% block title %} - Viewing: {{ video.title }}{% endblock %}
{% block content %}
<div class="video-overlay">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div id="o-player"></div>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
<div class="row">
	<h2>{{ video.title }}{% if video.is_this_new %}&nbsp;<small><span class="video-new">NEW</span></small>{% endif %}</h2>
	<div class="col-xs-3"></div>
	<div class="col-md-12 col-xs-6">
		<iframe id="player" type="text/html" width="640" height="390" src="{{ video.youtube_url }}"></iframe>
		<p><button class="theatre-mode"><span class="glyphicon glyphicon-film"></span>&nbsp; Theatre Mode</button> 
		{% if request.user.is_authenticated %}
		{% if video in request.user.tricker.favorites.all %}
		&nbsp; <button class="button-remove-from-favs"><span class="glyphicon glyphicon-remove"></span>&nbsp;Remove from Favorites</button>
		{% else %}
		&nbsp; <button class="button-add-to-favs"><span class="glyphicon glyphicon-heart"></span>&nbsp; Save to Favorites</button>
		{% endif %}
		&nbsp; <button class="button-not-tricking"><span class="glyphicon glyphicon-flag"></span>&nbsp; Not tricking?</button>
		{% endif %}
		</p>
	</div>
	<div class="col-xs-3"></div>
</div>
{% endblock %}
{% block bodyend %}
<script type="text/javascript" src="{{ STATIC_URL }}view_video.js"></script>
<script type="text/javascript">
	// console.log({{video_json|safe}});
	var vid_id = "{{ video.youtube_id }}";
	var player;
	function onYouTubeIframeAPIReady() {
		player = new YT.Player('o-player', {
			height: '480',
			width: '720',
			videoId: vid_id,
		});
		TheatreApp(player);
	};
	{% if request.user.is_authenticated %}
		var user = "{{ request.user.tricker.resource_uri }}";
		var video = "{{ video.resource_uri }}";
	{% endif %}
</script>
<script type="text/javascript" src="https://youtube.com/iframe_api"></script>
{% endblock %}